$primary-color: #007bff;

.header {
  background-color: $primary-color;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.contact-container {

  .button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;


    &:hover {
 
    }
  }

}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  
}


.form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;

  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;

    &:focus {
      border-color: $primary-color;
    }
  }

  button[type="submit"] {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}